*{
    padding: 0px;
    margin: 0px;
    font-family: "Lato", sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.cardTypePay{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 2%;
    margin-left: 5%;
}

h3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    color: #d0033d;
}

.card{
    width: 200px;
    background-color: white;
    border-width: 2px;
    border-radius: 5%;
    box-shadow: 4px 4px 10px #797979;
}

.cardPaypal svg{
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    color: #3b7bbf;
}

.cardPaypal svg:hover{
    color: #3a638e;
}

.cardPaypal hr{
    width: 80%;
    margin-left: 10%;
}

.cardDebit svg{
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    color: rgb(184, 174, 26);
}

.cardDebit svg:hover{
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    color: rgb(156, 147, 23);
}

.cardDebit hr{
    width: 80%;
    margin-left: 10%;
}

.tarjeta{
    width: 400px;
    height: 400px;
}

.cModal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

.cModal input{
    margin-top: 10px;
    width: 80%;
    height: 40px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #d0033d;
    font-size: 20px;
}

.cModal input::placeholder{
    color: #d0033d9c;
}

.cModal input[type = "password"]{
    color: #d0033d;
}

.divInfoCompra{
    margin-top: 15px;
    width: 80%;
    resize: none;
    height: 40px;
    font-size: 17px;
    border-color: transparent;
    color: #d0033d;
}

.cModal button{
    margin-top: 10px;
    width: 50%;
    height: 40px;
    border-radius: 50px;
    border-color: transparent;
    background-color: #d0033d;
    color: white;
}

.cModal button:hover{
    background-color: #b40033;
    color: white;
    box-shadow: 4px 4px 4px #79797998;
}